* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #1fa9e975;
    margin-left: 18px;
    margin-right: 18px;
}

.board {
    margin-top: 10px;
    font-size: 10;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border-radius: 2px;
}

.board td {
    width: 44px;
    height: 44px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.mine{
    text-indent: -9999px;    
    height: 100px;                       
    width: 600px;
    white-space: nowrap;
}
.safe{
    text-indent: -9999px;   
    height: 100px;                        
    width: 600px;
    white-space: nowrap;
}