* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #1fa9e975;
    margin-left: 18px;
    margin-right: 18px;
}

.board {
    margin-top: 10px;
    font-size: 10;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-radius: 2px;
}

.board td {
    width: 44px;
    height: 44px;
    text-align: center;
    font-weight: bold;
    cursor:pointer
}
h1{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 50px;
  font-weight: 500;
}
.mine{
    text-indent: -9999px;    
    height: 100px;                       
    width: 600px;
    white-space: nowrap;
}
.safe{
    text-indent: -9999px;   
    height: 100px;                        
    width: 600px;
    white-space: nowrap;
}
.restart{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 25px;
}
.hidden{
    display: none;
    margin-top: 10px;
}
.live{

    font-size: 50px;
    margin-right: 350px;
    padding-right: 250px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 50px;
  font-weight: 500;
}
.time{
    font-size: 50px;
    margin-right: 350px;
    padding-right: 250px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 50px;
  font-weight: 500;
}

button {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;

}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.user-msg{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.modal{
  display: none;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 20px;
  background-color: royalblue;
  background: rgb(10, 123, 194);
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}